<div class="container">
  <header class="row text-center">
    <p>TRAINING MANAGEMENT SYSTEM</p>
  </header>
  <main class="main row">
    <div class="left col">
      <img src="https://img.freepik.com/premium-vector/young-woman-enjoy-sitting-reading-book-hygge-concept-vector-illustration_194708-2078.jpg" alt="girl-reading-a-book"/>
    </div>
    <div class="right col">
      <form class="sign-up">
        <h4>Login if you are already register!</h4>
        <div class="mb-3">
           <label for="email" class="form-label">Email/Phone Number</label>
    <input type="email" class="form-control" id="email" placeholder="Enter your email">
        </div>
        <div class="mb-3">
           <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Create a password">
        </div>
        <button type="submit" class="btn submit-btn">Login</button>
      </form>
      <p class="hr-lines"> OR </p>
      <div class="sign-in">
        <p>Do not have an account? <a href="/register">Register</a></p>
      </div>
    </div>
  </main>
</div>
  