<div class="container">
  <header class="row text-center">
    <p>TRAINING MANAGEMENT SYSTEM</p>
  </header>
  <main class="main row">
    <div class="left col">
      <img src="../../../assets/training.jpeg" alt="girl-reading-a-book"/>
    </div>
    <div class="right col">
      <form class="sign-up">
        <h4>Register if you are new user!</h4>
        <div class="mb-3">
          <label for="email" class="form-label">Full Name</label>
           <input type="email" class="form-control" id="email" placeholder="Enter your email">
       </div>
       <div class="mb-3">
        <label for="email" class="form-label">Mobile Number</label>
         <input type="email" class="form-control" id="email" placeholder="Enter your email">
     </div>
        <div class="mb-3">
           <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email">
        </div>
        <div class="mb-3">
           <label for="password" class="form-label">Password</label>
           <input type="password" class="form-control" id="password" placeholder="Create a password">
        </div>
        <button type="submit" class="btn submit-btn">Create account</button>
      </form>
      <p class="hr-lines"> OR </p>
      <div class="sign-in">
        <p>Already have an account? <a href="/login">Log in</a></p>
      </div>
    </div>
  </main>
</div>
  