
<header>
    <a href="#home" class="logo">TMS</a>
  
    <div class="bx bx-menu" id="menu-icon"></div>
  
    <ul class="navbar">
      <li><a href="/home"><i class="bi bi-house"></i>
        Industries</a></li>
      <li><a href=""><i class="bi bi-bucket"></i>Resources</a></li>
      <li><a href=""><i class="bi bi-building"></i>Company</a></li>
      <li><a href=""><i class="bi bi-currency-rupee"></i>Pricing<i class="bi bi-arrow-down"></i></a></li>
    </ul>
    <ul  class="navbar2">
        
      <li><a href="/contact"><i class="bi bi-telephone"></i>Contact</a></li>
      <!-- <li><a href="/register" class="register" ><i class="bi bi-clipboard2-check-fill"></i>
        Register</a></li> -->
      <li><a href="/login" class="login"><i class="bi bi-person"></i>Log in</a></li>
    </ul>
  </header>
  <router-outlet></router-outlet>
  <footer class="footer">
    <div class="footer__container bd-container">
      <h2 class="footer__title">Clay Doe</h2>
      <p class="footer__description">
        I am Clay Doe and this is my personal website, consult me here.
      </p>
  
      <div class="footer__social">
        <a href="#" class="footer__link"><i class="bi bi-github"></i></a>
        <a href="#" class="footer__link"><i class="bi bi-instagram"></i></a>
        <a href="#" class="footer__link"><i class="bi bi-google"></i></a>
      </div>
      <p class="footer__copy">&#169; 2024 Clay Doe. All right reserved</p>
    </div>
  </footer>
  